<div class="app-wrapper">
  <h1 class="header py-5 text-center">
    COVID-19 Data: A Quick Look
  </h1>
  <div class="container">
    <h3 class="text-center mt-5 text-blue">Overview of Covid Cases in the Unites States</h3>
    <app-chart></app-chart>
    <app-info-box></app-info-box>
  </div>
</div>

<router-outlet></router-outlet>
