<div class="info-box-wrapper mt-5 d-flex justify-content-center flex-column flex-md-row">
  <div class="card info-box p-3 m-3">
    <h5 class="text-blue text-center">Total Cases in the US</h5>
    <h4 class="text-center">{{confirmedClean}}</h4>
  </div>
  <div class="card info-box p-3 m-3">
    <h5 class="text-blue text-center">Total Deaths in the US</h5>
    <h4 class="text-center">{{deathsClean}}</h4>
  </div>
  <div class="card info-box p-3 m-3">
    <h5 class="text-blue text-center">Percent Survival Rate</h5>
    <h4 class="text-center">{{survivalRate}}%</h4>
  </div>

</div>
